.loginButton{
  margin: 10px;
  margin-top: 30px;
  width: 90%;
  background-color: rgb(255, 55, 88);
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
}
.signUpButton{
  margin-top: 20px !important;
}
.loginButton div{
  padding: 5px; color: white; text-align: center
}
.formContainer{
  margin: 0px auto; width: 350px; padding: 10px; box-shadow: 0px 0px 5px black; margin-top: 20px; border-radius: 5px
}

.formContainer h3{
  text-align: left; margin-left: 30px
}
.passwordInput{
  display: flex; align-items: baseline; border-bottom: 1px solid black; width: 90%; height: 40px; margin: 10px
}
.passwordInput input{
  border: none; width: 100%; height: 90%; outline: none
}
.passwordInput div{
  font-size: 12px; cursor: pointer
}
.nameInput{
  outline: none; border: none; border-bottom: 1px solid black; width: 90%; height: 50px; margin: 10px
}
.signUp{
  margin-top: 3px !important;
  margin-bottom: 3px !important;
}
.remmemberMeSelector{
  text-align: left;
  display: flex;
  align-items: baseline;
}
.remmemberMeSelector input{
  margin: 10px; margin-top: 20px
}
.remmemberMeSelector span{
  font-size: 14px; color: grey
}
.remmemberMeSelector span span{
  color: rgb(255, 70, 101);
  cursor: pointer;
}
.labelTextForAccount{
  font-size: 12px; margin-top: 10px; text-align: center
}
.accountCreateLinks{
  font-size: 13px; margin: 5px; color: grey; font-weight: bold; text-align: center
}
.accountCreateLinks span{
  padding: 5px; cursor: pointer
}
.loginLink{
  font-size: 13px; margin: 5px; text-align: center
}
.loginLink div span{
  color: rgb(255, 70, 101);
  cursor: pointer;
}
.socialSignUpButtons{
  display: flex;
  align-items: center;
  justify-content: center;
}
.socialSignUpButtons div{
  margin: 0px;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
}
.headerContainer{
display: flex;
justify-content: space-between;
align-items: center;
}
.headerMain{
  display: flex;
align-items: center;
}
.linkButtons{
  margin-left: 20px;
}
.linkButtons div{
  display: flex;
}
.linkButtons span{
  padding-left: 5px;
  font-size: 14px;
  display: inline-block
}
/* .headerContainer div div{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  cursor: pointer;
} */
.headerButton{
  display: flex;
  border: 1px solid;
  margin-top: 10px !important;
  height: 20px;
  padding: 10px;
  width: 100px;
  border-radius: 5px;
}

.MainBody{
  margin: 20px 100px 0px 100px;
}
.activeText{
  color: rgb(255, 27, 65);
}
.text{
  padding: 5px;
}
.toggle{
background: red;
}
.toggle:hover{
  background-color: red;
}
.mainBtn:hover{
  background-color: red;
  color: white;
}
.mainBtn{
  color: black;
}
.cardImage{
    background-image: url("https://th.bing.com/th/id/OIP.M3gR1iUOsiWf7htgiThV1gHaE7?pid=Api&rs=1");
    background-repeat: no-repeat;
    background-color: #cccccc;
    width: 270px; 
    height: 180px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.cardBottomLabel{
  height: 50px;
  background-color: rgba(0, 0, 0, 0.800);
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cardSpace{
  overflow: scroll; 
  overflow-X: hidden; 
  height: 380px; 
  width: 100%; 
  display: flex; 
  flex-wrap: wrap; 
  align-items: center; 
  justify-content: center
}
.cardSpace::-webkit-scrollbar {
  width: 0.5em;
}
 
.cardSpace::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;

}
 
.cardSpace::-webkit-scrollbar-thumb {
  background-color: rgb(32, 32, 32);
  border-radius: 10px;
}